@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
/*! Base css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  color: black;
}
.header {
  height: 100%;
}
.header-image {
  position: relative;
  background: url(img/darkkod.jpg);
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  opacity: 0.7;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(
    0,
    0,
    0,
    0
  ); 
  z-index: 0; 
  pointer-events: none; 
}
.header-section {
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-size: 19px;
}
.container ul {
  display: flex;
  column-gap: 20px;
}
.container .container-logo a img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu ul li a {
  color: white;

  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: "Madimi One", sans-serif;
  font-style: normal;
}
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  flex-direction: column;
}
.header-title span {
  color: white;
  /* font-weight: bold; */
  font-family: "Madimi One", sans-serif;
  font-style: normal;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.header-title p {
  color: white;
  font-family: "Madimi One", sans-serif;
  font-style: normal;
  letter-spacing: 1.5px;
}

.hakkimda {
  margin: 70px;
}
.hakkimda-main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hakkimda-main-title span {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 35px;
}

.hakkimda-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.hakkimda-wrapper .hakkimda-img img {
  width: 270px;
  height: 270px;
  border: 2px solid rgba(192, 199, 203, 0.501);
}
.hakkimda-title {
  font-size: 20px;
  font-family: "Madimi One", sans-serif;
  font-style: normal;
}

.hakkimda-icerik p {
  width: 95%;
  font-size: 18px;
  font-family: "Madimi One", sans-serif;
  font-style: normal;
}
.bold {
  font-weight: bold;
}
.header-title-icons {
  color: white;
  font-size: 25px;
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header-title-icons a {
  color: white;
}
.iletisim {
  margin: 70px;
}

.iletisim-title span {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.iletisim-icerik{
  margin: 10px;
  width: 100%;
  font-size: 20px;
  font-family: "Madimi One", sans-serif;
  font-style: normal;
}
.iletisim-icon {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.iletisim-icon-addres {
  font-size: 18px;
}
.footer {
  margin-top: 80px;
  background: #111111;
  width: 100%;
  height: 200px;
}
.footer-title {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer-title p {
  color: #777;
  font-family: Athiti, sans-serif;
  font-size: 14px;
  line-height: normal;
}
.mobile-header {
  color: white;
  display: none;
}
.bi-list {
  cursor: pointer;
}
.bi-x-circle {
  color: white;
  display: none;
}
@media (max-width: 1400px) {
  .header-section {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .header-section {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .header-section {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .header-section {
    max-width: 400px;
  }
}
@media (max-width: 420px) {
  .header-section {
    max-width: 350px;
  }
}

/* ! Header Responsive */
@media (max-width: 650px) {
  .container-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    border-left: 1px solid #dee0ea;
    z-index: 2;
    transition: 0.5s ease all;
  }
  .container ul {
    flex-direction: column;
    height: calc(100vh);
    padding: 30px;
    justify-content: space-around;
    align-items: center;
  }
  .bi-x-circle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    z-index: 2;
  }
  .mobile-header {
    display: inline-block;
  }
  .hakkimda-main-title span {
    font-size: 19px;
  }
  .hakkimda-title {
    letter-spacing: 0.5px;
    font-size: 14px;
  }
  .hakkimda-icerik p {
    width: 99%;
    font-size: 14px;
  }
  .hakkimda-wrapper {
    flex-direction: column;
  }
  .hakkimda-wrapper .hakkimda-img img {
    width: 180px;
    height: 180px;
  }
  .iletisim{
    margin: 70px 0px 70px 0px;
  }
  .iletisim-title span {
    font-size: 19px;
  }
  .iletisim-icerik {
    letter-spacing: 0.1px;
    font-size: 14px;
    margin: 0px;
  }

  .iletisim-icon {
    font-size: 18px;
  }
  .header-section {
    margin: 0px;
    padding: 10px;
    max-width: 100%;
  }
  
}
